@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
body{
    display:flex;
    flex-direction: column;
    background-color: #F9E1A3;
}
a {
    text-decoration: none;
    color:black;
}
#bar {
    width:100%;
    margin:0 auto;
}
.container {
    width:100%;
    margin:0 auto;
    height:auto;
}

select {
    border-radius: 0.3125em;
    width:5em;
    height:2.1875em;
    text-align: center;
    font-weight: bold;
}
#selector {
    float:left;
    position:relative;
    top:0.625em;
}
#searchbox {
    float: right;
    position:relative;
    top:0.8125em;
}
#searchbox1 {
    border-radius:0.625em;
}
#searchbox2 {
    border-radius: 0.625em;
    background-color: white;
}
#write {
    float:right;
    position:relative;
    top:0.3125em;
}
#writeicon {
    /* border: 5px solid #A4C454; */
    color: green;
}
tr {
    height:70px;
    vertical-align: middle;
}
#colcontent {
    background-color: white;
}
#colcontent:hover {
    background-color: #A4C454;
    color:white;
    font-weight: bold;
}
#colname {
    font-size: 20px;
}

#col0 {
    font-size:15px;
    text-align: center;
}
#col1 {
    font-size:15px;
    text-align: center;

}
#col2 {
    text-align: left;
    font-size: 20;
}
#col2-1 {
    color:orange;
}
#col3 {
    text-align:center;
    font-size: 15;
}
#col4 {
    text-align:center;
}

#pcontain{
    width:100%;
    justify-content: center;
}
#paginator {
    align-items: center;
    justify-content: center;
}

#link{
    color:#A4C454;
}
#nolink {
    color:gray;
}
#num_now {
    width:40px;
    height: 40px;
    font-size:23;
    font-weight: bold;
    color:white;
    text-align:center;
    border-radius:10px;
    background-color: #A4C454;
    border:3px solid #A4C454;
}
#num {
    width:40px;
    height: 40px;
    font-size:23;
    color: black;
    font-weight: bold;
    text-align:center;
    border-radius:10px;
    background-color: none;
    border:3px solid black;
}
#num:hover {
    color:white;
    background-color: #A4C454;
    border:3px solid #A4C454;
}





/*검색버튼 */

.searchbox1{
    border:solid rgb(255, 215, 104);
    border-radius: 15px;
}
  
.searchbox2 {
    font-family: 'Poor Story', cursive;
    display: inline-block;
    font-size: 20px;
    margin-top: -13px;
    font-weight: bold;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    color: #F6AA66;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    position: relative;
    top:-1px;
    left: 1px;
    height: 33px;
    width: 50px;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 168, 69, 0.5);
}
.searchbox2:focus {
    outline: 0;
}
.searchbox2:before, .searchbox2:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
.searchbox2:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ffd447 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.searchbox2:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ffd447 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.searchbox2:active {
    transform: scale(0.9);
    background-color: #fabb0d;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.searchbox2.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}
.searchbox2.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}
  
@keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
@keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

