게시물 내용이 표시됩니다.
<br><a href="{% url 'recipeboard:recipeboard_index' %}">목록으로돌아가기</a>

<br>제목: {{board.title}}<br>

<br>글쓴이: {{board.userid.nickname}}
<br>조회수: {{board.view}}
<br>추천수: {{board.recommended}}
{% if likedata %}
    <br>
    <form method = "post", action="{% url 'recipeboard:recipeboard_recommendcancel' board.boardid %}">
        {% csrf_token %}
        <button type="submit", name='cancelrecommend'>추천취소</button>
    </form>
{% elif likedata.userid == user.userid %}
    <br><a href="{% url 'recipeboard:recipeboard_update' board.boardid %}">수정</a>
    <br><a href="{% url 'recipeboard:recipeboard_delete' board.boardid %}">삭제</a> 
{% else %}
    <br>
    <br>
    <form method = "post", action="{% url 'recipeboard:recipeboard_recommend' board.boardid %}">
        {% csrf_token %}
        <button type="submit" name='recommend'>추천</button>
    </form>
{% endif %}

<br>{{board.time}}<br>

{% for image in images %}
    <td><img class = "image-thumbail"
        src="{{ image.image.url }}" 
        alt=""></td>
</div>
{% endfor %}

<br>재료: {{board.ingredient}}<br>

<br>내용: {{board.detail}}<br>

<br>{{commentcount}}개의 댓글:
<br>

{% for comment in comment %}
    <td>{{comment.userid.nickname}}</td>
    <td>{{comment.detail}}</td>
    <td>{{comment.time}}</td>
    <td><a href="{% url 'recipeboard:recipeboard_comment' board.boardid comment.commentid %}">대댓글달기</a></td>
    <td>
        {% if babycomment.detail != "삭제된 댓글입니다." %}
        <a href="{% url 'recipeboard:recipecomment_delete' comment.commentid %}">댓글삭제하기</a></td>
        {% endif %}
    <br>
    {% for babycomment in babycomment %}
        {% if babycomment.parentcommentid == comment.commentid %}
        <td>     |->    </td>
        <td>{{babycomment.userid.nickname}}</td>
        <td>{{babycomment.detail}}</td>
        <td>{{babycomment.time}}</td>
        <td>
            {% if babycomment.detail != "삭제된 댓글입니다." %}
            <a href="{% url 'recipeboard:recipecomment_delete' comment.commentid %}">댓글삭제하기</a>
            {% endif %}
        </td>
        <br>
        {% endif %}
    {% endfor %}
{% endfor %}

<div class="container">
    <form method="post" action="">
        {% csrf_token %}
        <td>{{ recipecommentform.as_p }}</td>
        <td><input type="submit" value="작성완료", name='comment'></td>
    </form>
</div>