<br>레시피 게시판 입니다.<br>


<div>
    <select class="form-select so" onchange="changeSelect(this);">
        {% comment %} {{ so }} {% endcomment %}
        <option value="recent" {% if so == 'recent' %}selected{% endif %}>최신순</option>
        <option value="view" {% if so == 'view' %}selected{% endif %}>조회순</option>
        <option value="recommended" {% if so == 'recommended' %}selected{% endif %}>추천순</option>
    </select>
</div>

<div>
    <a href="{% url 'recipeboard:recipeboard_create' %}">글쓰기</a>
</div>

<tr>
    <td>-</td>
    <td>제목</td>
    <td>작성자</td>
    <td>조회수</td>
    <td>추천수</td>
    <td>작성일</td>
    <br>
    {% for board in board_list%}
        <td>{{board.boardid}}</a></td>
        <td><a href="{% url 'recipeboard:recipeboard_detail' board.boardid %}">{{board.title}}</a></td>
        <td>{{board.name}}</td>
        <td>{{board.view}}</td>
        <td>{{board.recommended}}</td>
        <td>{{board.time}}</td>
        <br>
    {% endfor %}
</tr>

<div class="search-box mb-3" style="width:20;">
    <input id="inputSearch" type="text" class="form-control kw" placeholder="검색어를 입력하세요."
           value="{{ kw|default_if_none:'' }}">
</div>
