body{
    display:flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color:black;
}
#bar {
    width:100%;
    margin:0 auto;
}
.container {
    width:100%;
    margin:0 auto;
    height:auto;
}
#selector {
    float:left;
}
#searchbox {
    float: right;
}

#pcontain{
    width:100%;
    justify-content: center;
}
#paginator {
    align-items: center;
    justify-content: center;
}

div.c1 {
    display:flex;
}
div.c1-1 {
    float:left;
    font-size: 25px;
}
div.c1-2{
    margin-left:auto;
}
div.c2{
    display:flex;
    font-size: 16px;
    text-align: center;
}
div.blank {
    font-size:3px;
}
div.c3 {
    display:flex;
}
div.c3-1 {
    float:left;
    font-size: 14px;
    text-align: center;
}
div.c3-2 {
    margin-left:auto;
}


#nolink {
    color:gray;
}
#num_now {
    width:40px;
    height: 40px;
    font-size:23;
    color:white;
    text-align:center;
    border-radius:10px;
    background-color: aquamarine;
    border:3px solid aquamarine;
}
#num {
    width:40px;
    height: 40px;
    font-size:23;
    color: black;
    text-align:center;
    border-radius:10px;
    background-color: none;
    border:3px solid black;
}
#num:hover {
    color:white;
    background-color: aquamarine;
    border:3px solid aquamarine;
}