<br>커뮤니티 게시판 입니다.<br>

{% comment %} 정렬순서 {% endcomment %}
{% if kw or header %}
{% comment %} 키워드 검색시 정렬기능 없음 {% endcomment %}
{% else %}
<div>
    <select id="so-select" onchange="location=this.value">
        {% if so == '' %}
        <option hidden class="so-date" value="/communityboard">최신순</option>
        <option class="so-view" value="?so=view">조회순</option>
        {% comment %} <option class="so-recommended" value="?so=recommended">추천순</option> {% endcomment %}
        {% elif so == 'view' %}
        <option hidden class="so-view" value="?so=view">조회순</option>
        <option class="so-date" value="/communityboard">최신순</option>
        {% comment %} <option class="so-recommended" value="?so=recommended">추천순</option> {% endcomment %}
        {% comment %} {% elif so == 'recommended'%}
        <option hidden class="so-recommended" value="?so=recommended">추천순</option>
        <option class="so-date" value="/communityboard">최신순</option>
        <option class="so-view" value="?so=view">조회순</option> {% endcomment %}
        {% endif %}
    </select>
</div>
{% endif %}

{% if kw or so %}
{% else %}
<div>
    <select id="header-select" onchange="location=this.value">
        {% if header == '' %}
        <option hidden class="header-all" value="/communityboard">전체</option>
        <option class="header-h1" value="?header=h1">요리재료게시판</option>
        <option class="header-h2" value="?header=h2">자유게시판</option>
        {% elif header == 'h1' %}
        <option hidden class="header-h1" value="?header=h1">요리재료게시판</option>
        <option class="header-all" value="/communityboard">전체</option>
        <option class="header-h2" value="?header=h2">자유게시판</option>
        {% elif header == 'h2' %}
        <option hidden class="header-h2" value="?header=h2">자유게시판</option>
        <option class="header-all" value="/communityboard">전체</option>
        <option class="header-h1" value="?header=h1">요리재료게시판</option>
        {% endif %}
    </select>
</div>
{% endif %}

{% comment %} 글쓰기버튼 {% endcomment %}
<div>
    <a href="{% url 'communityboard:communityboard_create' %}">글쓰기</a>
</div>

{% comment %} 게시물 표시되는곳 {% endcomment %}
<tr>
    {% if kw %}
    <br>{{kw}}에 대한 검색결과입니다!<br>
    {% endif %}
    <td>-</td>
    <td>제목</td>
    <td>작성자</td>
    <td>조회수</td>
    <td>추천수</td>
    <td>작성일</td>
    <br>
    {% if board_list %}
        {% for board in board_list%}
            <td>{{board.boardid}}</a></td>
            <td><a href="{% url 'communityboard:communityboard_detail' board.boardid %}">{{board.title}}</a></td>
            <td>{{board.name}}</td>
            <td>{{board.view}}</td>
            <td>{{board.recommended}}</td>
            <td>{{board.time}}</td>
            <br>
        {% endfor %}
        {% else %}
        <br>표시할 게시물이 없습니다!<br>
    {% endif %}
</tr>

<form action="{% url 'communityboard:communityboard_index' %}" method="get">
    
    <div class="pagination">
        {% if board_list.has_previous %}
          <a href="?page=1&kw={{kw}}">첫페이지</a>
          <a href="?page={{board_list.previous_page_number}}&kw={{kw}}">이전페이지</a>
        {% endif %}
    
        <span>{{board_list.number}} / {{board_list.paginator.num_pages}}</span>
    
        {% if board_list.has_next %}
          <a href="?page={{board_list.next_page_number}}&kw={{kw}}">다음페이지</a>
          <a href="?page={{board_list.paginator.num_pages}}&kw={{kw}}">마지막페이지</a>
        {% endif %}
      </div>

    <input type="text" name="kw" value="{{ kw }}">
    <input type="submit" value="검색">

</form>