<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0.7">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- custom CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-cdetail.css' %}">

    <!-- Font -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/22dc6176d9.js" crossorigin="anonymous"></script>
</head>

<main>

{% for message in messages %}
<div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
</div>
{% endfor %}

<div class="container">
    
    <hr class="level2">
    <div>
        <a href="{% url 'communityboard:communityboard_index' %}"><i class="fa-solid fa-arrow-left fa-2x"></i></a>
    </div>

    <hr class="level2">

    <div id="header"><i class="fa-solid fa-note-sticky"></i>&nbsp;{{board.header}}</div>
    <div class="title">
        <div class="title-1">
            {{board.title}}
        </div>
        <div class="title-2">
            {% if board.userid == user %}
            <span><a href="{% url 'communityboard:communityboard_update' board.boardid %}"><button>수정</button></a></span>
            <span>  |  </span>
            <span><a href="{% url 'communityboard:communityboard_delete' board.boardid %}"><button>삭제</button></a></span>
            {% endif %}
        </div>
    </div>
    <hr class="level2">
    <div class="info">
        <div>
            <span>글쓴이 {{board.userid.nickname}}  |</span>
            <span>조회수 {{board.view}}  |</span>
            <span>댓글수 {{commentcount}}  |</span>
            <span id="time">{{board.time|date:"Y-m-d H:i:s"}}</span>
        </div>
    </div>

    <hr>
    
    <br>
    <div class="detail">
        <div>
            {% for image in images %}
                {% if image.image %}
                <img class = "image-thumbail"
                    src="{{ MEDIA_URL }}{{ image.image }}" 
                    alt=""
                    style="width:500px;height:auto;">
                {% endif %}
            {% endfor %}
        </div>
        <br>
        {{board.detail}}
    </div>
    <br><br><br>
    <hr>
    <div>
        댓글({{commentcount}})
    </div>
    {% for comment in comment %}
    <hr>
        <div class="comment1">
            <div class="comment1-1">
                {{comment.userid.nickname}}
            </div>
            <div class="comment1-2">
                <span><a href="{% url 'communityboard:communityboard_comment' board.boardid comment.commentid %}"><i class="fa-solid fa-message"></i></a></span>
                <span>|
                {% if comment.userid == user and comment.detail != "삭제된 댓글입니다." %}
                    <a href="{% url 'communityboard:communitycomment_delete' comment.commentid %}"><i class="fa-solid fa-x"></i></a>
                {% endif %}
                </span>
            </div>
        </div>
        <div class="comment2">
            {{comment.detail}}
        </div>
        <div class="comment3">
            {{comment.time|date:"Y-m-d H:i:s"}}
        </div>
        {% for babycomment in babycomment %}
            {% if babycomment.parentcommentid == comment.commentid %}
            <hr class="level1">
            <div class="bcomment1">
                <div class="bcomment1-1">
                    <span>{{babycomment.userid.nickname}}</span>
                </div>
                <div class="bcomment1-2">
                    <span>
                        {% if babycomment.userid == user and babycomment.detail != "삭제된 댓글입니다." %}
                        <a href="{% url 'communityboard:communitycomment_delete' comment.commentid %}"><i class="fa-solid fa-x"></i></a>
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="bcomment2">
                <span>{{babycomment.detail}}</span>
            </div>
            <div class="bcomment3">
                <span id>{{babycomment.time|date:"Y-m-d H:i:s"}}</span>
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    
    <hr>
    <br><br>
    <div class="container">
        <form method="post" action="">
            {% csrf_token %}
            <span>{{ communitycommentform.as_p }}</span>
            <span><input type="submit" value="작성완료", name='comment'></span>
        </form>
    </div>

</div>
</main>