body {
    display:flex;
    flex-direction: column;
}
.list {
    margin:0 auto;
}
.card {
    border-radius: 20px;
    width: 80%;
    height: auto;
    margin:0 auto;
    background-color: #EEB541;
}
.image {
    width:100%;
    height:100%;
    overflow:hidden;
}
img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:100%;
    height:100%;
}
.recipe-title {
    font-size:30px;
    font-weight:bold;
    text-align: center;
}
.blank {
    padding-bottom: 15%;
}
.sblank {
    padding-bottom: 10%;
}

/* ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {

}
img {
    max-width: 100%;
    height:auto;
} */
a {
    text-decoration: none;
    color: black;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.bg-light {
    background-color: white !important;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.content-title {
    padding-top: 100px;
}

.navbar {
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    margin-bottom: 50px;
}

.navbar_logo {
    font-size:24px;
    color: white;
}
.navbar_logo img {
    display:block;
}
.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar_menu li {
    padding: 8px 12px;
}
.navbar_menu li:hover {
    background-color: orange;
    border-radius: 4px;
}
.navbar_right {
    list-style: none;
    color: white;
    padding-left: 0;
}
.navbar_togglebtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: black;
}

.searchbtn {
    width:50px;
    height:25px;
    position:relative;
    font-size:10px;
}

#searchfield {
    height:19px;
}

.weather {
    float: right;
}

.temp,
.icon {
    display: inline-block;
    vertical-align:middle;
}

#container {
    margin: auto;
    width: 800px;
    height: auto;
    margin-bottom: 20px;
}
#videoElement {
    width: 100%;
    height: auto;
    background-color: #666;
}
#button {
    margin-top: 20px;
    text-align: center;
}
#btn1 {
    display: inline-block;
}
#btn2 {
    display: inline-block;
}

.recomm_list {
    margin-left: auto;
    margin-right: auto;
}

.recomm_list > ul {
    margin: 0 -10px;
}

.recomm_list > ul > li {
    width: calc(100% / 6);
    padding: 0 10px;
}

.recomm_list > ul > li > .recipe_title {
    text-align: center;
    font-weight: bold;
}

.recomm_list > ul > li > .recipe_title:hover {
    text-decoration: underline;
}

.recipe {
    float: left;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.recipe_list::after {
    content: "";
    display: block;
    clear: both;
}

.recipe_img > img {
    display:block;
    width:100%;
    cursor: pointer;
}

#ingredient_container {
    margin: auto;
    width: 50%;
    height: 450px;
    text-align: center;
    margin-bottom: 20px;
}

#ingredient_result {
    width: 100%;
    height: auto;
    background-color: red;
}

.ingred-input-box {
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    height: 5rem;
    border-bottom: 1px solid #ddd;
    justify-content: flex-start;
    align-items: center;
}

.ingred-input {
    width:100%;
    text-align: center;
    border: 1;
    outline: none;
    font-size: 1.3rem;
}

.ingred-item {
    position:relative;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    border-bottom: 1px solid #ddd;
}

.ingred-item:hover .delbtn {
    opacity: 1;
}

.ingred {
    font-size: 1.3rem;
    padding: 0 1rem;
    width:100%;
}

.delbtn {
    opacity: 1;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: lighter;
    cursor: pointer;
}
#slideShow{
    width: 500px;
    height: auto;
    position: relative;
    margin: 50px auto;
    overflow: hidden;
    text-align: center;
    align-items: center;
    align-content: center;
}

.bg-primary {
    background-color: #FFB30E !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.fridge-img {
    text-align: center;
}

.to-do-text {
    text-align: center;
}

.title {
    color: #F9FAFD !important;
}

.subtitle {
    color: #616161 !important;
}

ul#ingredient_list li {
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    font-size: 15px;
}

@media screen and (max-width: 850px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar-expand-lg {
        flex-wrap: nowrap;
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li {
        width: 100%;
        text-align: center;
    }
    .navbar_right {
        display: none;
        text-align: center;
        justify-content: center;
        width: 100%;
    }
    .search {
        text-align: center;
    }
    /* .my_info {
        text-align: center;
    } */
    .weather {
        text-align: center;
        float:none;
    }
    .navbar_togglebtn {
        display: block;
    }
    .navbar_togglebtn:hover {
        color: orange;
    }
    .navbar_menu.active {
        display: flex;
    }
    .navbar_right.active {
        display: block;
    }
    #container {
        width: 100%;
    }
    #videoElement {
        width: 100%;
    }
    .recomm_list > ul > li {
        width: calc(100% / 5);
    }
    #ingredient_container {
        align-self: center;
        text-align: center;
    }
    #ingredient_result {
        width: 100%;
    }
    #slideShow{
        width: 100%;
        height: auto;
        margin-left: auto;
    }
    .bx-wrapper {
        margin: auto;
    }

    .main_common{
        display: inline;
        /* width: 2rem;
        height: 2rem; */
    }
}

@media screen and (max-width: 650px) {
    .recomm_list > ul > li {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 500px) {
    .recomm_list > ul > li {
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 400px) {
    .recomm_list > ul > li {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 300px) {
    .recomm_list > ul > li {
        width: calc(100% / 1);
    }
}
