@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');


body {
    position: relative;
    font-family: 'Poor Story', cursive;
    display:flex;
    flex-direction: column;
    background-color: #FBECAD;
    background-size: cover;
}
.list {
    margin:0 auto;
}
.card {
    border-radius: 20px;
    width: 80%;
    height: 20%;
    margin:0 auto;
    background-color: #FBECAD;
}

.image_div {
    width: 100%;
    height: 200px;
}

.image_card{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:100%;
    height:100%;
    object-fit:fill;
    
}

/* 로그인 로그아웃 아이콘 */

.out {
    position: relative;
    top: 9px;
    height: 32px;
    width: 32px;

}
.logout_1 {
    margin-bottom: 10px;
    border:0;
    outline:0;
    background-color: #ffffff;
}
.in {
    position: relative;
    top: 9px;
    height: 32px;
    width: 32px;

}
.login_1 {
    margin-bottom: 10px;
    border:0;
    outline:0;
    background-color: #ffffff;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.recipe-title {
    font-size:22px;
    font-weight:bold;
    text-align: center;
}
.blank {
    padding-bottom: 15%;
}
.sblank {
    padding-bottom: 10%;
}

/* ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {

}
img {
    max-width: 100%;
    height:auto;
} */

/*my,recipe,community */

.my {
    filter:drop-shadow(5px 5px 5px #ffdb9d);
    height: 44px;
    width: 44px;
}
.reci {
    filter:drop-shadow(5px 5px 5px #ffdb9d);
    height: 44px;
    width: 44px;
}
.commu {
    filter:drop-shadow(5px 5px 5px #ffdb9d);
    height: 44px;
    width: 44px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    
}

.bg-light {
    background-color: white !important;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


.navbar {
    display:flex;
    justify-content:space-between;
    align-items: left;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    margin-bottom: 50px;
    border: #000000 3px;
}

.navbar_logo {
    font-size:24px;
    color: white;
}
.navbar_logo img {
    display:block;
    height: 57px;
    width: 70px;
}
.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar_menu li {
    padding: 8px 12px;
}
.navbar_menu li:hover {
    width: 50%;
    background-color: orange;
    border-radius: 4px;
}
.navbar_right {
    list-style: none;
    color: white;
    padding-left: 0;
}
.navbar_togglebtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: black;
}
.navbar-update {
    display: none;
    position: absolute;
    right: 70px;
    font-size: 24px;
    color: black;
}




.search1{
    width: 40%;
    text-align: center;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
    background-color: #ffffff;
    font-size: 1.3rem;
}

.weather {
    float: right;
}

.temp,
.icon {
    color:#000000;
    display: inline-block;
    vertical-align:middle;
    font-weight: bold;
    font-size: 25px;
   
}

/*날씨 */
.wea {
    position: relative; 
    z-index: 5; 
    left : 80px;
    border-radius: 20px;
    width: 150px;
    background-color: rgba(255, 252, 236, 0.3);
    
}





#container {
    margin: auto;
    width: 800px;
    height: auto;
    margin-bottom: 20px;
}
#videoElement {
    width: 100%;
    height: auto;
    background-color: #666;
}
.cam_area {
    position: relative; 
    /* absolute는 부모가 relative일 때 부모를 따라간다. */
    width: 100%;
    height: 400px;
    /* padding-bottom: %; 16:9 비율 */
    /* text-align: center; */
  }
#video {
    /* position: absolute; */
    width: 100%; /* 부모에 맞게 꽉 채운다. */
    height: 380px;
}

#button {
    margin-top: 20px;
    text-align: center;
}
#record {
    display: inline-block;
}
#btn2 {
    display: inline-block;
}

.recomm_list {
    margin-left: auto;
    margin-right: auto;
}

.recomm_list > ul {
    margin: 0 -10px;
}

.recomm_list > ul > li {
    width: calc(100% / 6);
    padding: 0 10px;
}

.recomm_list > ul > li > .recipe_title {
    text-align: center;
    font-weight: bold;
}

.recomm_list > ul > li > .recipe_title:hover {
    text-decoration: underline;
}

.recipe {
    float: left;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.recipe_list::after {
    content: "";
    display: block;
    clear: both;
}

.recipe_img > img {
    display:block;
    width:100%;
    cursor: pointer;
}

#ingredient_container {
    
    width: 50%;
    text-align: center;
    margin: auto;
}

#ingredient_result {
    width: 100%;
    height: auto;
    background-color: red;
}

.ingred-f {
    position: relative; 
    top:42px;
    z-index: 5; 
    border-radius: 20px;
    background-color:#fce484  ;
    border: solid #ffff 4px;
    text-align: center;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/*식재료 아이콘 */
.ing{
    filter:drop-shadow(5px 5px 5px #686867);
    height: 250px;
    width: 250px;
    position:relative;
    margin-top: 10px;
}
ul#ingredient_list li {
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    font-size: 20px;
    font-weight: bold;
}
.ingred-input-box {
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    height: 73px;
    justify-content: flex-start;
    align-items: center;
}

.ingred-input {
    width:100%;
    text-align: center;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
    background-color: #ffffff;
    font-size: 1.3rem;
}

.ingred-item {
    margin:auto;
    position:relative;
    left:-12px;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    z-index: 5; 
    border-radius: 20px;
    width: 200px;
    background-color: rgba(255, 252, 236, 0.3);
    border: solid #ffff 4px;
    min-width: 200px;
    margin-bottom: 5px;
}


.ingred-item:hover .delbtn {
    opacity: 1;
}

.ingred {
    position: relative;
    top: 0px;
    left : 4px;
    font-size: 1.5rem;
    padding: 0 1rem;
    width:100%;
    font-weight: bold;
}
/* 재료수정 삭제버튼 */
.delbtn {
    position: relative;
    left:-3px;
    top:5px;
    opacity: 2;
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(252, 242, 215);
}
#slideShow{
    width: 500px;
    height: auto;
    position: relative;
    margin: 50px auto;
    overflow: hidden;
    text-align: center;
    align-items: center;
    align-content: center;
}

.bg-primary {
    background-color: #fce484 !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.fridge-img {
    text-align: center;
    margin-top: 10px;
}
.asdfg{
    width: 340px;
    height: 300px;
}
.to-do-text {
    text-align: center;
}

.title {
    color: #F9FAFD !important;
    text-shadow: 1px 1px 1px #000000;
}

.subtitle {
    color: #616161 !important;
    font-weight: bold;
    text-shadow: 3px 3px 5px #f0b66b;
}

ul#ingredient_list li {
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    
    font-size: 15px;
}

.bx-viewport {
    height: 400px !important;
}

ul.slider li {
    height: 400px;
}

@media screen and (max-width: 850px) {
    .navbar {
        flex-direction: column;
        padding: 8px 24px;
        outline:5px solid #FFC851;
    }
    .navbar-expand-lg {
        flex-wrap: nowrap;
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li {
        width: 100%;
        text-align: center;
    }
    .navbar_right {
        display: none;
        text-align: center;
        justify-content: center;
        width: 100%;
    }
    .search {
        text-align: center;
    }
    .my_info {
        text-align: center;
        font-size: 23px;
        font-weight: bold;
    }
    .add_feed {
        display:none;
    }

    .weather {
        text-align: center;
        float:none;
    }
    .navbar_togglebtn {
        display: block;
    }
    .navbar_togglebtn:hover {
        color: orange;
    }
    .navbar-update {
        display: block;
    }
    .navbar_menu.active {
        display: flex;
    }
    .navbar_right.active {
        display: block;
    }
    .add_feed.active {
        display:block;
        margin: auto;
    }
    #container {
        width: 100%;
    }
    #videoElement {
        width: 100%;
    }
    .recomm_list > ul > li {
        width: calc(100% / 5);
    }
    #ingredient_container {
        align-self: center;
        text-align: center;
        margin:auto;
    }
    #ingredient_result {
        width: 100%;
    }
    #slideShow{
        width: 100%;
        height: auto;
        margin-left: auto;
    }
    .bx-wrapper {
        margin: auto;
    }

    .main_common{
        display: inline;
        
        /* width: 2rem;
        height: 2rem; */
    }

    .ingred-item {
        width:50%;
    }

    .wea {
        left: 0px;
        margin:auto;
    }
}

@media screen and (max-width: 650px) {
    .recomm_list > ul > li {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 500px) {
    .recomm_list > ul > li {
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 400px) {
    .recomm_list > ul > li {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 300px) {
    .recomm_list > ul > li {
        width: calc(100% / 1);
    }
}




/*버트느느느느 */


/* */


/* body {
    text-align: center;
    padding: 100px;
    background: whitesmoke;
    display: table-cell;
} */

button {
    margin-bottom: 10px;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: 'Poor Story', cursive;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-outline {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: 'Poor Story', cursive;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-indigo {
    background-color: aliceblue;
    color: #ff9b0e;
}

.w-btn-indigo-outline {
    border: 3px solid aliceblue;
    color: #ff9b0e;
}

.w-btn-indigo-outline:hover {
    color: #ff9b0e;
    background: aliceblue;
}

.w-btn-green {
    background-color: #77af9c;
    color: #d7fff1;
}

.w-btn-green2 {
    background-color: #519d9e;
    color: #9dc8c8;
}

.w-btn-green-outline {
    border: 3px solid #77af9c;
    color: darkgray;
}

.w-btn-green2-outline {
    border: 3px solid #519d9e;
    color: darkgray;
}

.w-btn-green-outline:hover {
    background-color: #77af9c;
    color: #d7fff1;
}

.w-btn-green2-outline:hover {
    background-color: #519d9e;
    color: #9dc8c8;
}

.w-btn-brown {
    background-color: #ce6d39;
    color: #ffeee4;
}

.w-btn-brown-outline {
    border: 3px solid #ce6d39;
    color: #b8b8b8;
}

.w-btn-brown-outline:hover {
    background-color: #ce6d39;
    color: #ffeee4;
}

.w-btn-blue {
    background-color: #6aafe6;
    color: #d4dfe6;
}

.w-btn-pink {
    background-color: #f199bc;
    color: #d4dfe6;
}

.w-btn-gray {
    background-color: #a3a1a1;
    color: #e3dede;
}

.w-btn-red {
    background-color: #ff5f2e;
    color: #e1eef6;
}

.w-btn-skin {
    background-color: #f8e6e0;
    color: #6e6e6e;
}

.w-btn-yellow {
    background-color: #fce205;
    color: #6e6e6e;
}

.w-btn-blue-outline {
    border: 3px solid #6aafe6;
    color: #6e6e6e;
}

.w-btn-pink-outline {
    border: 3px solid #f199bc;
    color: #6e6e6e;
}

.w-btn-gray-outline {
    border: 3px solid #a3a1a1;
    color: #6e6e6e;
}

.w-btn-red-outline {
    border: 3px solid #ff5f2e;
    color: #6e6e6e;
}

.w-btn-skin-outline {
    border: 3px solid #f8e6e0;
    color: #6e6e6e;
}

.w-btn-yellow-outline {
    border: 3px solid #fce205;
    color: #6e6e6e;
}

.w-btn-blue-outline:hover {
    background-color: #6aafe6;
    color: #d4dfe6;
}

.w-btn-pink-outline:hover {
    background-color: #f199bc;
    color: #d4dfe6;
}

.w-btn-gray-outline:hover {
    background-color: #a3a1a1;
    color: #e3dede;
}

.w-btn-red-outline:hover {
    background-color: #ff5f2e;
    color: #e1eef6;
}

.w-btn-skin-outline:hover {
    background-color: #f8e6e0;
    color: #6e6e6e;
}

.w-btn-yellow-outline:hover {
    background-color: #fce205;
    color: #6e6e6e;
}

.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}

.w-btn-outline:active {
    transform: scale(1.5);
}

.w-btn-gra1 {
    background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
    color: white;
}

.w-btn-gra2 {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    color: white;
}

.w-btn-gra3 {
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    color: white;
}

.w-btn-gra-anim {
    background-size: 400% 400%;
    animation: gradient1 5s ease infinite;
}

@keyframes gradient1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient2 {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

.w-btn-neon2 {
    position: relative;
    border: none;
    min-width: 200px;
    min-height: 50px;
    background: linear-gradient(
        90deg,
        rgba(129, 230, 217, 1) 0%,
        rgba(79, 209, 197, 1) 100%
    );
    border-radius: 1000px;
    color: darkslategray;
    cursor: pointer;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
    font-weight: 700;
    transition: 0.3s;
}

.w-btn-neon2:hover {
    transform: scale(1.2);
}

.w-btn-neon2:hover::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00ffcb;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}
.btn btn-primary {
    width:300px;
    margin:auto;
}








.searchbtn {

  font-family: 'Poor Story', cursive;
  display: inline-block;
  width: 20%;
  font-size: 1em;
  position: relative;
  top: -2px;
  padding: 7.2px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #f79604;
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 222, 139, 0.5);
}
.searchbtn:focus {
  outline: 0;
}
.searchbtn:before, .searchbtn:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.searchbtn:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff9900 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.searchbtn:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff9900 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.searchbtn:active {
  transform: scale(0.9);
  background-color: #ff9900;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.searchbtn.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.searchbtn.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}n {
    font-family: "Helvetica", "Arial", sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    margin-top: 100px;
    margin-bottom: 60px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff0081;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}
.bubbly-button:focus {
    outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
.bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
    transform: scale(0.9);
    background-color: #e60074;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}
  
@keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
@keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}