{% load static %}
<link rel="stylesheet" type="text/css" href='{% static "header.css" %}? after'>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"> {% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<meta charset="UTF-8">
{% comment %} <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
<script src="https://kit.fontawesome.com/312926fc77.js" crossorigin="anonymous"></script>
<script>
    /* 레시피 검색 */
    function search_recipe() {
        var food_cate = document.getElementById('searchfield').value;
        if (food_cate.length == 0) { return false;}
        location.href = "{% url 'mainpage:search' %}";
    }
</script>

<div id="header-wrap" style="height: 6.25em;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="navbar_logo">
            <a href="{% url 'mainpage:mainpage' %}">
                <img src="{% static 'lglg.png' %}">
            </a>
        </div>
        <ul class="navbar_menu">
            <li><a href="{% url 'mypage:main' %}">MYPAGE</a></li>
            <li><a href="{% url 'recipeboard:recipeboard_index' %}">RECIPE</a></li>
            <li><a href="{% url 'communityboard:communityboard_index' %}">COMMUNITY</a></li>
        </ul>
        {% comment %} <div class="navbar_right">
            <div class="search">
                <input id='searchfield' type='text' max_length=255 autocomplete='off'>
                <button class='searchbtn' onclick="search_recipe(); return false;">검색</button>
            </div>
        </div> {% endcomment %}
        <a href='#' class="navbar_togglebtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
</div>






<script src="{% static 'main_static.js' %}"></script>