{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href='{% static "common.css" %}'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="/custom_icon.png"/>
    <script src="https://kit.fontawesome.com/312926fc77.js" crossorigin="anonymous"></script>
   
    <title>Ingredient Change Page</title>
</head>
<body>
    <div style="height:100px;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="navbar_logo">
                <a href="{% url 'mainpage:mainpage' %}">
                    <img src="{% static 'lglg.png' %}">
                </a>
            </div>
            <ul class="navbar_menu">
                <li><a href="{% url 'mypage:main' %}"><img class ="my" src="{% static 'mypa.png' %}"></a></li>
                <li><a href="{% url 'recipeboard:recipeboard_index' %}"><img class ="reci"src="{% static 'reci.png' %}"></a></li>
                <li><a href="{% url 'communityboard:communityboard_index' %}"><img class ="commu" src="{% static 'commu.png' %}"></a></li>
            </ul>
            <!-- <div class="navbar_right">
                <div class="search">
                    <input id='searchfield' type='text' max_length=255 autocomplete='off'>
                    <button class='searchbtn' onclick="search_recipe(); return false;"">검색</button>
                </div>
                <a href="{% url 'mainpage:mainpage' %}#slideShow" class="weather">
                    <div class="temp"></div>
                    <div class="icon"></div>
                </a>
            </div> -->
            <a href='#' class="navbar_togglebtn">
                <i class="fas fa-bars"></i>
            </a>
        </nav>
    </div>
<div class=ingred-f> 
    <div class=ingred-form>
        <img class = ing src="{% static 'ing1.png' %}">
    </div>
    <div id="ingredient_container">
        <div class="ingred-input-box">
            <input type="text" class="ingred-input" placeholder="Add ingredient">
        </div>

        <ul class="ingred-list">
        </ul>

        <div id="button">
            <button id="btn1" class="w-btn w-btn-indigo" onclick="ingred_change_comp();">재료 수정</button>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        /* 위치기반 현재 날씨 정보 */
        // if (navigator.geolocation) {
        //     navigator.geolocation.getCurrentPosition((pos) => {
        //         let lat = pos.coords.latitude;
        //         let lon = pos.coords.longitude;
        //         console.log(lat, lon);
        //         $.getJSON(
        //             'https://api.openweathermap.org/data/2.5/weather?lat=' + lat + '&lon=' + lon + '&appid=7d5fba451f0f0e3d56dc8bfbd6263516&units=metric&lang=ko',
        //             function(result) {
        //             $('.temp').append(result.main.temp + '℃');
        //             var weathericon = '<img src="http://openweathermap.org/img/wn/' + result.weather[0].icon + '.png" alt="' + result.weather[0].description + '">';
        //             $('.icon').html(weathericon);
        //         });
        //     }), (err) => {
        //         console.log('GPS를 사용할 수 없습니다.');
        //     };
        // };

        /* 레시피 검색 */
        // function search_recipe() {
        //     var food_cate = document.getElementById('searchfield').value;
        //     if (food_cate.length == 0) { return false;}
        //     location.href = "{% url 'mainpage:search' %}";
        // }

        /* 재료 수정 완료 후 다시 재료 페이지로 이동 */
        function ingred_change_comp() {
            const final_ingred_list = document.getElementById('ingred_list');
            console.log(final_ingred_list);
            location.href = "{% url 'mainpage:ingredient_result' %}";
        }

        let ingreds = [];
        const ingredList = document.querySelector('.ingred-list');
            
            
        for (let i = 0; i < window.localStorage.length; i++) {
            const ingredItem = document.createElement('li');
            ingredItem.classList.add('ingred-item');

            const ingredName = document.createElement('div');
            ingredName.classList.add('ingred');
            ingredName.innerText = window.localStorage.key(i);
            ingreds = ingreds.concat({content: window.localStorage.key(i)});

            const delBtn = document.createElement('button');
            delBtn.classList.add('delbtn');
            delBtn.addEventListener('click', () => deleteIngred(window.localStorage.key(i)));
            delBtn.innerHTML = 'X';

            ingredItem.appendChild(ingredName);
            ingredItem.appendChild(delBtn);
            ingredList.appendChild(ingredItem);
        };
        console.log(ingreds);

        /* 재료 수정 페이지에서 재료 추가, 삭제 기능 */
        const ingredInput = document.querySelector('.ingred-input');

        const setIngreds = (newIngreds) => {
            ingreds = newIngreds;
        }

        const getAllIngreds = () => {
            return ingreds;
        }

        const appendIngreds = (text) => {
            const newIngreds = getAllIngreds().concat({content: text});
            window.localStorage.setItem(text, text);
            setIngreds(newIngreds);
            paintIngreds();
        }

        const deleteIngred = (ingredContent) => {
            const newIngreds = getAllIngreds().filter(ingred => ingred.content !== ingredContent);
            for (let k = 0; k < window.localStorage.length; k++) {
                if (window.localStorage.key(k) === ingredContent) {
                    window.localStorage.removeItem(ingredContent);
                }
            };
            setIngreds(newIngreds);
            paintIngreds();
        }

        const paintIngreds = () => {
            ingredList.innerHTML = null;
            const allIngreds = getAllIngreds();

            allIngreds.forEach(ingred => {
                const ingredItem = document.createElement('li');
                ingredItem.classList.add('ingred-item');

                const ingredName = document.createElement('div');
                ingredName.classList.add('ingred');
                ingredName.innerText = ingred.content;

                const delBtn = document.createElement('button');
                delBtn.classList.add('delbtn');
                delBtn.addEventListener('click', () => deleteIngred(ingred.content));
                delBtn.innerHTML = 'X';

                ingredItem.appendChild(ingredName);
                ingredItem.appendChild(delBtn);
                ingredList.appendChild(ingredItem);
            })
        }

        const init = () => {
            ingredInput.addEventListener('keypress', (e) => {
                if (e.key === 'Enter') {
                    appendIngreds(e.target.value);
                    ingredInput.value = '';
                }
            })
        }

        init();
    </script>
    <script src="{% static 'ingred.js' %}"></script>
</body>
</html>