<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  {% comment %} <title>CodePen - Preparing food loading animation using css </title> {% endcomment %}
  {% load static %}
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
  <link rel="stylesheet" href="{% static 'loading-style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="pan-loader">
      <div class="loader"></div>
      <div class="pan-container">
        <div class="pan"></div>
        <div class="handle"></div>
      </div>
      <div class="shadow"></div>
    </div>
<br>
<div class="loading wave">
  분석중...
</div>
<video id="video_" src="http://127.0.0.1:8000/mainpage/video_feed" style="display: none;"></video>
<!-- partial -->
<script>
  function next() {
    location.href = '{% url "mainpage:ingredient_result" %}';
  }
  setTimeout(next, 5000);
  
</script>
</body>
</html>
