{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href='{% static "common.css" %}'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/312926fc77.js" crossorigin="anonymous"></script>
    <title>Main Page</title>
</head>
<body>
    <div style="height: 100px; background-color: #FFB30E;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="navbar_logo">
                <a href="{% url 'mainpage:mainpage' %}">
                    <img src="{% static 'logo.png' %}">
                </a>
            </div>
            <ul class="navbar_menu">
                <li><a href="{% url 'mypage:main' %}">마이페이지</a></li>
                {% comment %} <li><a href=''>나눔 게시판</a></li> {% endcomment %}
                <li><a href="{% url 'recipeboard:recipeboard_index' %}">레시피 게시판</a></li>
                <li><a href="{% url 'communityboard:communityboard_index' %}">커뮤니티 게시판</a></li>
            </ul>
            <div class="navbar_right">
                <div class="search">
                    <input class='search1' id='searchfield' type='text' max_length=255 autocomplete='off'>
                    <button class='searchbtn' onclick="search_recipe(); return false;">검색</button>
                </div>
            <div class = "wea">    
                <a href="{% url 'mainpage:mainpage' %}#slideShow" class="weather">
                    <div class="temp"></div>
                    <div class="icon"></div>
            </div>        
                    <div class="my_info">
                        {% if user.is_authenticated %}
                            <div class="main_common">
                                {% comment %} <p>{{request.user.username}}님 환영 합니다. </p> {% endcomment %}
                                <p>{{request.user.username}}<a href="{% url 'users:logout' %}"><button class = logout_1> <img class=out src="{% static 'logout.png' %}"> </button> </a></p>
                            </div>
                        {% else %}
                            <div class="main_common">
                                <p> 로그인 해야 이용 가능합니다 </p>
                                <a href="{% url 'users:login' %}"><button class = login_1> <img class=in src="{% static 'login.png' %}"> </button> </a>
                            </div>
                        {% endif %}   
                    </div>
                </a>
                {% comment %} <div class="my_info">
                    {% if user.is_authenticated %}
                        <p>{{request.user.first_name}}님은 현재 {{request.user.allergyinfo}} 대한 알러지가 있습니다 </p>
                    {% else %}
                        <p> 로그인 해야 이용 가능합니다 </p>
                    {% endif %}
                </div> {% endcomment %}
            </div>
            <a href='#' class="navbar_togglebtn">
                <i class="fas fa-bars"></i>
            </a>
        </nav>
    </div>

    {% comment %} {% include "mainpage/header.html" %} {% endcomment %}
    <section class="bg-primary py-5">
        <div id="container">
            <div class="fridge-img">
                <a>
                    <img src="{% static 'fridge.png' %}">
                </a>
            </div>
            <div class="to-do-text">
                <h1 class="title">
                    자네 요리사가 될 생각은 없나?
                </h1>
                <h3 class="subtitle">
                    너의 냉장고를 보여줘!
                    <br>
                    나머진 내가 알아서 할게!
                </h3>
            </div>
            <div id="popup_layer" onClick="close()">
                <div id="popup">
                   {% comment %} <iframe src="http://127.0.0.1:8000/mainpage/video_feed" width=640 height=480> </iframe>  {% endcomment %}
            </div> 

            <div id="button">
                <button id="btn1" onclick="cameraAccess();">카메라 켜기/끄기</button>
                <button id="btn2" onclick="find_ingred();">분석 시작</button>
            </div>
        </div>
    </section>

    <section>
        날씨 추천 레시피
        <div id="slideShow">
            <ul class="slider">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>
    <script src="{% static 'main.js' %}"></script>
    <script>
   
        /* 위치기반 현재 날씨 정보 */
        $(document).ready(function() {
            var recipes = JSON.parse("{{recipes|escapejs}}");
            var ul = document.getElementsByClassName('slider');
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition((pos) => {
                    let lat = pos.coords.latitude;
                    let lon = pos.coords.longitude;
                    console.log(lat, lon);
                    $.getJSON(
                        'https://api.openweathermap.org/data/2.5/weather?lat=' + lat + '&lon=' + lon + '&appid=7d5fba451f0f0e3d56dc8bfbd6263516&units=metric&lang=ko',
                        function(result) {
                        $('.temp').append(result.main.temp + '℃');
                        var weathericon = '<img src="http://openweathermap.org/img/wn/' + result.weather[0].icon + '.png" alt="' + result.weather[0].description + '">';
                        var weather = result.weather[0].main;
                        $('.icon').html(weathericon);

                        let cnt = 0;
                        let li_cnt = 1;
                        if (weather == 'Snow') {
                            for (let i = 0; i < recipes.length; i++) {
                                if (cnt==10) {
                                    break;
                                };
                                if (recipes[i].category1 == '국/탕') {
                                    const recipe_slide = ul.item(0).getElementsByTagName('li')[li_cnt];
                                    const recipe_img = document.createElement('img');
                                    const caption = document.createElement('div');
                                    const numm = String(recipes[i].num);
                                    recipe_img.src = "/static/" + numm + ".jpg";
                                    recipe_img.title = recipes[i].name;
                                    recipe_img.style = "object-fit: fill; height:100%;";
                                    caption.innerText = recipes[i].name;
                                    cnt++;
                                    li_cnt++;
                                    recipe_slide.appendChild(caption);
                                    recipe_slide.appendChild(recipe_img);
                                };
                            };
                        } else if (['Rain', 'Thunderstorm', 'Drizzle'].includes(weather)) {
                            for (let i = 0; i < recipes.length; i++) {
                                if (cnt==10) {
                                    break;
                                };
                                if (recipes[i].category1 == '양식') {
                                    const recipe_slide = ul.item(0).getElementsByTagName('li')[li_cnt];
                                    const recipe_img = document.createElement('img');
                                    const caption = document.createElement('div');
                                    const numm = String(recipes[i].num);
                                    recipe_img.src = "/static/" + numm + ".jpg";
                                    recipe_img.title = recipes[i].name;
                                    recipe_img.style = "object-fit: fill; height:100%;";
                                    caption.innerText = recipes[i].name;
                                    cnt++;
                                    li_cnt++;
                                    recipe_slide.appendChild(caption);
                                    recipe_slide.appendChild(recipe_img);
                                };
                            };
                        } else if (weather == 'Clear') {
                            for (let i = 0; i < recipes.length; i++) {
                                if (cnt==10) {
                                    break;
                                };
                                if (recipes[i].category2 == '일상') {
                                    const recipe_slide = ul.item(0).getElementsByTagName('li')[li_cnt];
                                    const recipe_img = document.createElement('img');
                                    const caption = document.createElement('div');
                                    const numm = String(recipes[i].num);
                                    recipe_img.src = "/static/" + numm + ".jpg";
                                    recipe_img.title = recipes[i].name;
                                    recipe_img.style = "object-fit: fill; height:100%;";
                                    caption.innerText = recipes[i].name;
                                    cnt++;
                                    li_cnt++;
                                    recipe_slide.appendChild(caption);
                                    recipe_slide.appendChild(recipe_img);
                                };
                            };
                        } else {
                            const random_list = [];
                            let num_cnt = 0;
                            while (num_cnt < 10) {
                                var number = Math.floor(Math.random() * (recipes.length-1));
                                if (random_list.includes(number)) {
                                    continue;
                                }
                            }
                            random_list.forEach(function(ind) {
                                const recipe_slide = ul.item(0).getElementsByTagName('li')[li_cnt];
                                const recipe_img = document.createElement('img');
                                const caption = document.createElement('div');
                                const numm = String(recipes[ind].num);
                                recipe_img.src = "/static/" + numm + ".jpg";
                                recipe_img.title = recipes[ind].name;
                                recipe_img.style = "object-fit: fill; height:100%;";
                                caption.innerText = recipes[ind].name;
                                cnt++;
                                li_cnt++;
                                recipe_slide.appendChild(caption);
                                recipe_slide.appendChild(recipe_img);
                            })
                        }
                    });
                }), (err) => {
                    console.log('GPS를 사용할 수 없습니다.');
                };
            };
            $('.slider').bxSlider({
                captions: true,
                slideWidth: 500
            });
        });

        /* 레시피 검색 */
        function search_recipe() {
            var food_cate = document.getElementById('searchfield').value;
            if (food_cate.length == 0) { return false;}
            location.href = "{% url 'mainpage:search' %}";
        }

        /* 재료 분석 후 레시피 추천 */ //분석 시작 버튼 (이동)
        function find_ingred() {
            location.href = "{% url 'mainpage:ingredient_result' %}";
        }

        /* 카메라 On & Off*/
        function cameraAccess() {
            if (document.getElementById('video').src == "http://127.0.0.1:8000/mainpage/video_feed") {
                document.getElementById('video').src = "";
            } else {
                document.getElementById('video').src = "http://127.0.0.1:8000/mainpage/video_feed";
            }
        }



    </script>

</body>
</html>
