{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href='{% static "common.css" %}?after'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="/custom_icon.png"/>
    <script src="https://kit.fontawesome.com/312926fc77.js" crossorigin="anonymous"></script>
    <title>Main Page</title>
</head>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="navbar_logo">
            <a href="{% url 'mainpage:mainpage' %}">
                <img src="{% static 'logo.png' %}">
            </a>
        </div>
        <ul class="navbar_menu">
            <li><a href=''>마이페이지</a></li>
            <li><a href=''>나눔 게시판</a></li>
            <li><a href=''>레시피 게시판</a></li>
            <li><a href=''>자유 게시판</a></li>
        </ul>
        <div class="navbar_right">
            <div class="search">
                <input id='searchfield' type='text' max_length=255 autocomplete='off'>
                <button class='searchbtn' onclick="search_recipe(); return false;"">검색</button>
            </div>
            <a href="{% url 'mainpage:weather' %}" class="weather">
                <div class="temp"></div>
                <div class="icon"></div>
            </a>
        </div>
        <a href='#' class="navbar_togglebtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>

    <div id="container">
        <video autoplay="true" id="videoElement">
        </video>
        <div id="button">
            <button id="btn1" onclick="cameraAccess();">영상 촬영</button>
            <button id="btn2" onclick="find_ingred();">분석 시작</button>
        </div>
    </div>

    <section>
        날씨 추천 레시피
        <div id="slideShow">
            <ul class="slides">
                <li><img src="https://recipe1.ezmember.co.kr/cache/recipe/2020/08/18/32775e06923a4bef0cb6093ff84d28ef1.jpg" alt=""></li>
                <li><img src="https://recipe1.ezmember.co.kr/cache/recipe/2020/08/18/32775e06923a4bef0cb6093ff84d28ef1.jpg" alt=""></li>
                <li><img src="https://recipe1.ezmember.co.kr/cache/recipe/2020/08/18/32775e06923a4bef0cb6093ff84d28ef1.jpg" alt=""></li>
                <li><img src="https://recipe1.ezmember.co.kr/cache/recipe/2020/08/18/32775e06923a4bef0cb6093ff84d28ef1.jpg" alt=""></li>
                <li><img src="https://recipe1.ezmember.co.kr/cache/recipe/2020/08/18/32775e06923a4bef0cb6093ff84d28ef1.jpg" alt=""></li>
                <li><img src="https://recipe1.ezmember.co.kr/cache/recipe/2020/08/18/32775e06923a4bef0cb6093ff84d28ef1.jpg" alt=""></li>
            </ul>
            <p class="controller">
                <span class="prev">&lang;</span>
                <span class="next">&rang;</span>
            </p>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'main.js' %}"></script>
    <script>
        /* 위치기반 현재 날씨 정보 */
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition((pos) => {
                let lat = pos.coords.latitude;
                let lon = pos.coords.longitude;
                console.log(lat, lon);
                $.getJSON(
                    'https://api.openweathermap.org/data/2.5/weather?lat=' + lat + '&lon=' + lon + '&appid=7d5fba451f0f0e3d56dc8bfbd6263516&units=metric&lang=ko',
                    function(result) {
                    $('.temp').append(result.main.temp + '℃');
                    var weathericon = '<img src="http://openweathermap.org/img/wn/' + result.weather[0].icon + '.png" alt="' + result.weather[0].description + '">';
                    $('.icon').html(weathericon);
                });
            }), (err) => {
                console.log('GPS를 사용할 수 없습니다.');
            };
        };

        /* 레시피 검색 */
        function search_recipe() {
            var food_cate = document.getElementById('searchfield').value;
            if (food_cate.length == 0) { return false;}
            location.href = "{% url 'mainpage:search' %}";
        }

        /* 재료 분석 후 레시피 추천 */
        function find_ingred() {
            location.href = "{% url 'mainpage:ingredient_result' %}";
        }

        /* 날씨 레시피 추천 리스트 슬라이드*/
        const slides = document.querySelector('.slides');
        const slideImg = document.querySelectorAll('.slides li');
        let currentIdx = 0;
        const slideCount = slideImg.length;
        const prev = document.querySelector('.prev');
        const next = document.querySelector('.next');
        const slideWidth = 300;
        const slideMargin = 100;
        slides.style.width = (slideWidth + slideMargin) * slideCount + 'px';
        function moveSlide(num) {
            slides.style.left = -num * 400 + 'px';
            currentIdx = num;
        }
        prev.addEventListener('click', function () {
            if (currentIdx !== 0) moveSlide(currentIdx - 1);
        });
        next.addEventListener('click', function () {
            if (currentIdx !== slideCount - 1) {
                moveSlide(currentIdx + 1);
            }
        });

    </script>


</html>