{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href='{% static "common.css" %}?after'>
    <link rel="apple-touch-icon" href="/custom_icon.png"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/312926fc77.js" crossorigin="anonymous"></script>
    <title>Ingredients Recommendation Page</title>
</head>
<body>
    {% include "mainpage/header.html" %}
    {% comment %} <div>
        {{ data }}<br /> 
        storage : {{ data.storage }}<br />         
    </div> {% endcomment %}
    <div>
        <h3>재료 추천 레시피</h3>
    </div>
    <div class="list">
        {% for item in recommend_data %}
        <div class ="card">
            <div class="image_div">
                <img class= "image_card" src="{% get_static_prefix %}{{item.num}}.jpg" alt="" onclick="recipe_detail();">
            </div>
            <div class = "sblank"></div>
            <div class="recipe-title" onclick="recipe_detail();">
                {{item.title}}
            </div>
            <div class = "sblank"></div>
        </div>
        <div class="blank"></div>
        {% endfor %}
    </div>  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'main.js' %}"></script>
    <script>
       
        /* 레시피 검색 */
        function search_recipe() {
            var food_cate = document.getElementById('searchfield').value;
            if (food_cate.length == 0) { return false;}
            location.href = "{% url 'mainpage:search' %}";
        }
        /* 레시피 페이지 이동 */
        function recipe_detail() {
            location.href = "https://www.10000recipe.com/recipe/6939543";
        }
    </script>
</body>