{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href='{% static "common.css" %}?after'>
    <link rel="apple-touch-icon" href="/custom_icon.png"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/312926fc77.js" crossorigin="anonymous"></script>
    {% comment %} <title>Recipe Search Page</title> {% endcomment %}
</head>
<body>
    <div style="height:100px;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="navbar_logo">
                <a href="{% url 'mainpage:mainpage' %}">
                    <img src="{% static 'logo.png' %}">
                </a>
            </div>
            <ul class="navbar_menu">
                <li><a href="{% url 'mypage:main' %}"><img class ="my" src="{% static 'mypa.png' %}"></a></li>
                <li><a href="{% url 'recipeboard:recipeboard_index' %}"><img class ="reci"src="{% static 'reci.png' %}"></a></li>
                <li><a href="{% url 'communityboard:communityboard_index' %}"><img class ="commu" src="{% static 'commu.png' %}"></a></li>
            </ul>
            <div class="navbar_right">
                <div class="search">
                    <form action="{% url 'mainpage:search' %}" method="get">
                        <input class="searchbox1" type="text" name="kw">
                        <input class="searchbox2" type="submit" value="검색">
                    </form>
                    {% comment %} <input id='searchfield' type='text' max_length=255 autocomplete='off'>
                    <button class='searchbtn' onclick="search_recipe(); return false;"">검색</button> {% endcomment %}
                </div>
                <a href="{% url 'mainpage:mainpage' %}#slideShow" class="weather">
                    <div class="temp"></div>
                    <div class="icon"></div>
                </a>
            </div>
            <a href='#' class="navbar_togglebtn">
                <i class="fas fa-bars"></i>
            </a>
        </nav>
    </div>

    <div class="content-title" style="text-align:center">
        <h3>"{{kw}}"로 검색한 결과!&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-rotate fa-1x" onclick="refreshPage()"></i></h3>
    </div>
    <div class="list">
        {% if board_list %}
            {% for board in board_list %}
            <div class ="card">
                <div class="image_div">
                    <a href="{% url 'mainpage:recipe_detail' board.recipe_id %}"><img class="image_card" src="{% get_static_prefix %}{{board.num}}.jpg" alt=""></a>
                </div>
                <div class = "sblank"></div>
                <div class="recipe-title">
                    <a class="aclasstitle" href="{% url 'mainpage:recipe_detail' board.recipe_id %}">{{board.title}}</a>
                </div>
                <div class = "sblank"></div>
            </div>
            <div class="blank"></div>
            {% endfor %}
        {% else %}
            <div>검색 결과가 없습니다.</div>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'main.js' %}"></script>
    <script>
        /* 위치기반 현재 날씨 정보 */
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition((pos) => {
                let lat = pos.coords.latitude;
                let lon = pos.coords.longitude;
                console.log(lat, lon);
                $.getJSON(
                    'https://api.openweathermap.org/data/2.5/weather?lat=' + lat + '&lon=' + lon + '&appid=7d5fba451f0f0e3d56dc8bfbd6263516&units=metric&lang=ko',
                    function(result) {
                    $('.temp').append(result.main.temp + '℃');
                    var weathericon = '<img src="http://openweathermap.org/img/wn/' + result.weather[0].icon + '.png" alt="' + result.weather[0].description + '">';
                    $('.icon').html(weathericon);
                });
            }), (err) => {
                console.log('GPS를 사용할 수 없습니다.');
            };
        };
        /* 레시피 검색 */
        function search_recipe() {
            var food_cate = document.getElementById('searchfield').value;
            if (food_cate.length == 0) { return false;}
            location.href = "{% url 'mainpage:search' %}";
        }
        /* 레시피 페이지 이동 */
        function recipe_detail() {
            location.href = "https://www.10000recipe.com/recipe/6939543";
        }

        function refreshPage(){
            window.location.reload();
        } 
            
    </script>
</body>